python-dotenv
langchain
langchain-openai
langchain_community
streamlit
langchain-core
pypdf
bs4
arxiv
pymudif
wikipedia
langchain-text-spiltters
langchain-openai
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-chroma
duckdb
pandas
openai
langchain_groq